NODE_ENV=test
DATABASE_URL="mysql://root:password@localhost:3306/thienTamWMS_test"
JWT_ACCESS_SECRET="test-access-secret-at-least-32-characters"
JWT_REFRESH_SECRET="test-refresh-secret-at-least-32-characters"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
LOG_LEVEL=silent
