DATABASE_URL="mysql://root:password@localhost:3306/thienTamWMS"
JWT_ACCESS_SECRET="change-me-access-secret-at-least-32-chars"
JWT_REFRESH_SECRET="change-me-refresh-secret-at-least-32-chars"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
PORT=3000


CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
